.App {
  background-image: url('https://i.pinimg.com/474x/fa/21/75/fa217590de7d43de8dec791da25d717a.jpg');
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.6;
}
